@import "fonts";
@import "color";
@import "image";
@import "mixin";

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: #353535;
    color: #fff;
}

.footer .logo img{
    width: 90px;
    margin: 5px 0;
}




