@import "global";
@import "color";
@import "fonts";
@import "mixin";
@import "footer";
/* 
main {
  background: #f6f6f6;
} */
.main {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: $gris;
  @include padMain();
  h1 {
    font-family: $font-title;
    font-size: 1.7rem;
    padding: 40px 0px 20px 0px;
    margin: 0;
  }
}
.like_menu {
  bottom: 10px;
  left: 20px;
  background: $gris;
}

.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h2.entree {
    margin: 0 20px;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-size: 1.2rem;
    &::after {
      content: "";
      position: relative;
      top: 15px;
      right: 80px;
      display: inline-block;
      width: 55px;
      height: 4px;
      background: $tertiaire;
    }
  }
  h2.plats {
    @extend h2, .entree;
    &::after {
      right: 55px;
    }
  }
  h2.dessert {
    @extend h2, .entree;
    &::after {
      right: 80px;
    }
  }
}

.menu_card {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 20px;

  &:hover .menu_price {
    transform: translateX(-60px);
    transition: 0.5s ease-out;
  }
  &:hover .menu_price-checkbox {
    animation: checkbox 0.5s ease-out forwards;
    animation-fill-mode: both;
    transform: scale(0);
    transform-origin: right;
    overflow: visible;
  }
  &:hover .btn-circle {
    animation: check ease-out;
    transform: rotate(0deg);
    transition: transform 0.6s;
  }

  .menu_price {
    display: inline-block;
    position: relative;
    right: 50px;
    top: 35px;
    font-weight: bold;
    background: #fff;
    width: 20%;
    height: 30px;
    cursor: pointer;
    span {
      margin: 0 10px;
    }
  }
  .menu_price-checkbox {
    position: relative;
    right: 110px;
    background-color: $tertiaire;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    cursor: pointer;
  }
  .btn-circle {
    transform: rotate(-180deg);
  }
}

.menu_title {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 75px;
  background: #fff;
  cursor: pointer;
  @include ellipsis();
  h3 {
    width: 65%;
    padding-top: 15px;
    @include ellipsis();
  }
  h4 {
    font-size: 0.95rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 60%;
  }
}

i.fas.fa-check-circle {
  position: relative;
  top: 25px;
  color: #fff;
  padding: 0px 20px;
  opacity: 1;
}

.btn_order {
  display: flex;
  width: 100%;
  height: 100px;
  text-align: center;
  .commander {
    @include btn_color;
    margin: auto;
    a {
      padding: 10px 60px;
      font-family: $font-page;
    }
  }
}

.aside__button:hover {
  background: #fff;
  box-shadow: 2px 2px 10px 2px #d6d5d6;
}

@media screen and (min-width: 680px) {
  .menu_container {
    width: 70%;
    margin: 0 auto;
    .menu_title h3 {
      font-size: 1.3rem;
      padding-top: 5px;
    }
    .menu_title h4 {
      font-size: 1.05rem;
    }
    h2 {
      padding: 45px;
    }
  }
}

@media screen and (min-width: 1024px) {
  i.fas.fa-arrow-left::before {
    position: relative;
    font-size: 1.5rem;
    right: 50px;
  }
  
  .main {
    width: 70%;
    margin: auto;
    margin-top: -25px;
    background: #f6f6f6;
  }
}
