@import "global";
@import "color";
@import "fonts";
@import "mixin";
@import "footer";

.main {
  /* position: absolute; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: $gris;
  @include padMain();
  h1 {
    font-family: $font-title;
    font-size: 1.7rem;
    padding: 40px 0px 20px 0px;
    margin: 0;
  }
}
.like_menu {
  bottom: 10px;
  left: 20px;
  background: $gris;
}

.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h2.entree {
    margin: 0;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-size: 1.2rem;
    &::after {
      content: "";
      position: relative;
      top: 15px;
      right: 80px;
      display: inline-block;
      width: 55px;
      height: 4px;
      background: $tertiaire;
    }
  }
  h2.plats {
    @extend h2, .entree;
    &::after {
      right: 55px;
    }
  }
  h2.dessert {
    @extend h2, .entree;
    &::after {
      right: 80px;
    }
  }
}

.menu_card {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 20px;
  &:hover .menu_price {
    /* animation: price 0.3s ease-out 1; */
    transform: translateX(-60px);
    transition: 0.5s ease-out;
  }
  &:hover .menu_price-checkbox {
    animation: checkbox 0.5s ease-out forwards;
    transform: scale(0);
    transform-origin: right;
    overflow: visible;
    /* transform: translateX(-70px);
    transition: 0.3s ease-out;
    overflow: visible; */
  }
  &:hover .btn-circle {
    animation: check ease-out;
    transform: rotate(0deg);
    transition: transform 0.6s;
  }
  .menu_title {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 75px;
    background: #fff;
    cursor: pointer;
    h3 {
      font-size: 1rem;
      padding-top: 10px;
    }
    h4 {
      font-size: 0.95rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 75%;
    }
  }
  .menu_price {
    display: inline-block;
    position: relative;
    left: -50px;
    top: 35px;
    font-weight: bold;
    background: #fff;
    width: 20%;
    height: 30px;
    span {
      margin: 0 10px;
    }
    /*  &:hover{
      transform: translateX(-50px);
      transition: 0.3s ease-in-out;
    } */
  }
  .menu_price-checkbox {
    position: relative;
    /* right: 40px; */
    right: 110px;
    background-color: $tertiaire;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;

    /*  &:hover{
      transform: translateX(-50px);
      transition: 0.3s ease-in-out;
    } */
  }
  .btn-circle {
    transform: rotate(-180deg);
  }
}

i.fas.fa-check-circle {
  position: relative;
  top: 25px;
  color: #fff;
  padding: 0px 20px;
  opacity: 1;
}

.btn_order {
  display: flex;
  width: 100%;
  height: 100px;
  .commander {
    @include btn_color;
    margin: auto;
    a {
      padding: 10px 60px;
      font-family: $font-page;
    }
  }
}

.aside__button.aside__button:hover {
  background: #fff;
  box-shadow: 2px 2px 10px 2px #d6d5d6;
}
