@mixin logoHero() {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 107px 15px 107px;

  img {
    width: 165px;
  }
}

@mixin padMain(){
  margin-top: -50px ;
  padding: 0 20px 0 20px;
  width: 100%;
  height: auto;
  background: $gris;
  z-index: 1;
}

@mixin button() {
  flex: 1 0 auto;
  margin-bottom: 20px;
  text-decoration: none;
  background: #e9e9e9;
  border-radius: 15px;
  text-align: justify;
  margin: 15px 35px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: bold;
  padding: 20px 15px;
  box-shadow: 0 5px 15px 0 #c3c3c3;
}

/* 
@mixin btn() {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 100%;
  border-radius: 15px;
  border: transparent;
  margin: 25px 30px;
  background: $gris;
  color: rgb(0, 0, 0);
  font-size: 0.9rem;
  font-weight: bold;
  padding: 25px 20px;
  letter-spacing: 0.01rem;
  box-shadow: 2px 4px 7px 0px rgb(216, 216, 216);
} */

@mixin icon() {
  width: 20px;
  height: 15px;
}
